<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>43814895104-d4i68utc1f291adqn127c37b0ri0350j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.43814895104-d4i68utc1f291adqn127c37b0ri0350j</string>
	<key>API_KEY</key>
	<string>AIzaSyBHJaxv8zNwRGwccMC8Crrg3IBPLEeNpj4</string>
	<key>GCM_SENDER_ID</key>
	<string>43814895104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.mamimami49192.example.firebase2</string>
	<key>PROJECT_ID</key>
	<string>firebase2-practice</string>
	<key>STORAGE_BUCKET</key>
	<string>firebase2-practice.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:43814895104:ios:16420908c721b3ae01e2e5</string>
</dict>
</plist>